body {
  background-color: var(--background);
  position: relative;

  & .logo {
    width: 9.4375rem;
    height: 3rem;
    padding: 12px 20px;
    background: var(--background-logo);
    border-bottom-right-radius: 0.5rem;
    position: absolute;
  }

  & .container {
    max-width: 24.375rem;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding-bottom: 3.5rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0.75rem 1.25rem;
  margin-top: 3.5625rem;

  gap: 0.75rem;
  width: 100%;

  & .content-header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    & h1 {
      font: var(--title);
      color: #F5F4F5;
    }

    & span {
      font: var(--paragraph-medium);
      color: var(--content-secondary);
    }
  }

  & .input-wrapper-date {
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: start;
    justify-content: start;

    &>input {
      width: 40%;
      position: relative;
    }
  }
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 1.25rem;
  overflow: auto;

  & .morning,
  .afternoon,
  .night {
    background-color: var(--background-tertiary);
    border-radius: 8px;

    & .content-period-and-hour {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;


      & .period-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }
    }

    & .content-schedule {
      padding: 0.75rem 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border-top: var(--background-logo) 1px solid;

      & .content-schudele-info {
        display: grid;
        border-bottom: var(--background-logo) 1px solid;
        grid-template-areas:
          "A B"
          "C C"
          "D D"
        ;

        &:last-child {
          border-bottom: none;
        }

        & div {
          display: flex;
          width: 16rem;
          gap: 0.75rem;

          & span:nth-child(1) {
            grid-area: A;
          }

          & span:nth-child(2) {
            grid-area: B;

            & p {
              display: inline;
              color: var(--content-secondary);
              font-weight: 500;
            }
          }
        }

        &>span {
          margin-top: 8px;
          width: 13.75rem;
          grid-area: C;
          color: var(--content-secondary);
          font-weight: 600;
        }

        & a {
          grid-area: D;
          justify-self: flex-end;
          margin-bottom: 0.75rem
        }

      }
    }
  }
}

.schedule-btn-wrapper {
  max-width: 21.875rem;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secondary);
  border-radius: 8px;

  & button {
    box-shadow: 0px 0px 15px -1px var(--background-brand);
  }
}


@media (width >=45.3125rem) {
  body {
    & .container {
      max-width: 120rem;
      height: 100vh;
      padding-inline: 6.25rem;
      padding-bottom: 0px;
    }
  }

  header {
    flex-direction: row;

    & .content-header {
      width: 100%;
    }

    & .input-wrapper-date {
      width: 50%;

      align-items: center;
      justify-content: end;

      &>input {
        width: 172px;
      }
    }
  }

  main {
    & a {
      margin-bottom: 0;
    }
  }

  .schedule-btn-wrapper {
    background-color: initial;
  }

}

@media (width >=64rem) {
  body {
    & .container {
      padding-inline: 15.625rem;
      overflow: hidden;
    }
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-inline: 1.25rem;
    padding-bottom: 3.5rem;

    & .morning,
    .afternoon,
    .night {
      background-color: var(--background-tertiary);
      border-radius: 8px;

      & .content-period-and-hour {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;


        & .period-title {
          display: flex;
          align-items: center;
          gap: 0.75rem;
        }
      }

      & .content-schedule {
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-top: var(--background-logo) 1px solid;


        & .content-schudele-info {
          padding: 0px 0px;

          grid-template-areas: "A B C D";
          align-self: left;


          &>div {
            display: flex;
            gap: 1rem;

            & span:nth-child(1) {
              grid-area: A;
            }

            & span:nth-child(2) {
              grid-area: B;
              width: 100%;

              & p {
                display: inline;
                color: var(--content-secondary);
                font-weight: 500;
              }
            }
          }

          &>span {
            margin-top: 0;
            grid-area: C;
            grid-column: 2/4;
            justify-self: start;
            color: var(--content-secondary);
            font-weight: 600;
          }

          & a {
            grid-area: D;
            justify-self: flex-end;
          }


        }
      }
    }
  }

  .schedule-btn-wrapper {
    position: absolute;
    width: auto;
    height: auto;
    background-color: initial;
    bottom: 0px;
    right: 30px;
  }
}